
.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    max-width: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}
.form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
}

.checkbox-container input {
    margin-right: 5px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: rgb(97, 126, 179);
    color: white;
}

/* Chart Styles */
.chart {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart h3 {
    color: #333;
    margin-bottom: 20px;
}

/* Error Message Styles */
div[style*="color: red"] {
    background-color: #ffebee;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-cotainer {
        width: 95%;
        padding: 20px;
    }
    
    .chart {
        padding: 10px;
    }
    
    table {
        font-size: 14px;
    }
    
    th, td {
        padding: 8px;
    }
}

.h3-table{
    color: rgb(255, 255, 255);
}